* {
    font-family: cursive;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
}

.container-header{
    height: 60px;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
}

header{
    background-color: rgb(12, 152, 245);
    position: absolute;
    display: flex;
    height: 50%;
    width: 100%;
margin-left: -8px;
margin-top: -8px;
background-image: url("images/AGENCIA-DE-PUBLICIDAD-1.jpg");
background-repeat: no-repeat;
background-attachment: inherit;
background-position: center;

}

.logo{
    height: 100%;
    width: 15%;
    display: flex;
    text-align: center;
    place-content: center;
    position: static;
    align-items: center;
}

.logo img{
    height: inherit;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}

li{
    float: left;
}

li a{
    display: block;
    color: #000;
    padding: 7px 15px;
    text-decoration: none;
    text-align: center;
    font-size: x-large;
    border-radius: 30px;
}

li a:hover{
    background-color: rgb(97, 9, 97);
    color: white;
}

.menu{
    width: 85%;
    text-align: center;
    align-self: center;
}

.slideshow-container{
    margin-top: 25%;
    max-width: 1000px;
    position: relative;
    margin: auto
}

.myslides{
    display: none;
}

.prev, .next{
cursor: pointer;
position: absolute;
top: 50%;
margin-top: -20px;
padding: 15px;
font-weight: bold;
font-size: 20px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0  0 3px;
}

.prev:hover, .next:hover {
background-color: rgba(0, 0, 0, 0.5);
}

.text {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    font-size: 10px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 50%;
    transition: background-color 0.6 ease;
}

.active, .dot:hover{
    background-color: rgb(146, 161, 175);
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
