* {
    font-family: cursive;
}

header{
    background-color: rgb(12, 152, 245);
    position: absolute;
    display: flex;
    height: 60px;
    width: 100%;
margin-left: -8px;
margin-top: -8px;
}

.logo{
    height: 100%;
    width: 15%;
    display: flex;
    text-align: center;
    place-content: center;
    position: static;
    align-items: center;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}

li{
    float: left;
}

li a{
    display: block;
    color: #000;
    padding: 7px 15px;
    text-decoration: none;
    text-align: center;
    font-size: x-large;
    border-radius: 30px;
}

li a:hover{
    background-color: rgb(97, 9, 97);
    color: white;
}

.menu{
    width: 85%;
    text-align: center;
    align-self: center;
}